<nav data-controller="nav" class="bg-white shadow fixed top-0 w-full z-50">
  <div class="container mx-auto px-5 py-4 flex justify-between items-center">
    <a href="/" class="text-xl font-bold text-gray-800 flex items-center space-x-2">
      <i class="fas fa-book text-blue-500"></i>
      <span>Biblio</span>
    </a>

    <div class="hidden md:flex space-x-6 items-center">
      <%= link_to root_path, class: "block px-2 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
        <i class="fas fa-home"></i> Home
      <% end %>
      <%= link_to search_path, class: "block px-2 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
        <i class="fas fa-search"></i> Search
      <% end %>
      <% if Current.librarian %>
        <%= link_to borrows_path, class: "block px-2 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
          <i class="fas fa-cog"></i> Verwaltung
        <% end %>
        <%= button_to logout_path, class: "block px-2 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
          <i class="fas fa-user-times"></i> Logout
        <% end %>
      <% else %>
        <%= link_to login_path, class: "block px-2 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
          <i class="fas fa-user"></i> Login
        <% end %>
      <% end %>
    </div>

    <button data-action="click->nav#toggle" class="md:hidden text-gray-600 hover:text-blue-500 focus:outline-none">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div data-nav-target="mobile" class="hidden bg-gray-100">
    <%= link_to root_path, class: "block px-5 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
      <i class="fas fa-home"></i> Home
    <% end %>
    <%= link_to search_path, class: "block px-5 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
      <i class="fas fa-search"></i> Search
    <% end %>
    <% if Current.librarian %>
      <%= link_to borrows_path, class: "block px-5 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
        <i class="fas fa-cog"></i> Verwaltung
      <% end %>
      <%= button_to logout_path, class: "block px-5 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
        <i class="fas fa-user-times"></i> Logout (Angemeldet als <%= "#{Current.librarian.firstname} #{Current.librarian.lastname}" %>)
      <% end %>
    <% else %>
      <%= link_to login_path, class: "block px-5 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-500 transition" do %>
        <i class="fas fa-user"></i> Login
      <% end %>
    <% end %>
  </div>
</nav>