<div id="<%= dom_id author %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vorname:</strong>
    <%= author.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nachname:</strong>
    <%= author.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Künstlername:</strong>
    <%= author.artistname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= author.bio %>
  </p>

</div>
