<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">

  <div class="flex gap-6">
    <div class="flex-shrink-0 w-32 h-32 bg-gray-200 flex items-center justify-center rounded-full shadow-md">
      <% if @author.pfp.attached? %>
        <%= image_tag @author.pfp, class: "rounded-full w-full h-full object-fill" %>
      <% else %>
        <i class="fas fa-user text-gray-400 text-6xl"></i>
      <% end %>
    </div>

    <div>
      <h1 class="text-3xl font-bold text-gray-800"><%= @author.display_name %></h1>
      <p class="mt-2 text-gray-600 text-lg"><%= @author.bio %></p>
    </div>
  </div>


  <div class="mt-8">
    <h2 class="text-2xl font-bold text-gray-800">Bücher von <%= @author.display_name %></h2>
    <% if @author.books.any? %>
      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @author.books.each do |book| %>
          <%= render book %>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4 text-gray-600">Dieser Autor hat noch keine Veröffentlichungen.</p>
    <% end %>
  </div>

  <% if Current.librarian.present? %>
  <div class="mt-8">
    <%= link_to "Bearbeiten", edit_author_path(@author), class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
  </div>
  <% end %>
</div>
