<div id="<%= dom_id book %>">
  <div class="bg-white shadow rounded overflow-hidden">

    <div class="h-64 bg-gray-200 relative flex items-center justify-center">
      <% if book.cover.attached? %>
        <%= image_tag book.cover, class: "w-full h-full object-fill" %>
      <% else %>
        <i class="fas fa-book text-gray-500 text-6xl"></i>
      <% end %>

      <% if book.effective_amount.zero? %>
        <div class="absolute inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
          <span class="text-white text-xl font-bold transform rotate-45 whitespace-nowrap">
            Nicht Verfügbar
          </span>
        </div>
      <% end %>
    </div>

    <div class="p-4">
      <h2 class="text-lg font-semibold text-gray-800 truncate"><%= book.title %></h2>

      <p class="text-gray-600 mt-2">
        Von: 
        <%= book.authors.map { |author| link_to author.display_name, author_path(author) }.join(", ").html_safe %>
      </p>

      <div class="mt-2 flex items-center">
        <% if book.average_rating.present? %>
          <% average = book.average_rating.round %>
          <% 5.times do |i| %>
           <% if i < average %>
              <i class="fas fa-star text-yellow-400"></i>
            <% else %>
              <i class="far fa-star text-gray-300"></i>
            <% end %>
          <% end %>
          <span class="ml-2 text-sm text-gray-600"><%= book.average_rating.round(1) %>/5</span>
        <% else %>
          <span class="text-sm text-gray-500">Keine Bewertungen</span>
        <% end %>
      </div>

      <p class="text-gray-500 mt-2 text-sm h-[5em] overflow-y-scroll"><%= truncate(book.description, length: 100) %></p>

      <div class="mt-4">
        <a href="<%= book_path(book) %>" class="text-blue-500 hover:underline text-sm flex items-center">
          <i class="fas fa-book-open mr-2"></i> Mehr
        </a>
      </div>
    </div>
  </div>
</div>