<%= form_with(model: book, class: "contents") do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :publisher_id %>
    <%= form.select :publisher_id, 
                  options_for_select(Publisher.all.pluck(:name, :id), selected: @book.publisher_id), 
                  { include_blank: "Select a publisher" }, 
                  class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full js-searchable-dropdown", 
                  data: { controller: "select2" } %>
  </div>

  <div class="my-5">
    <%= form.label :category_ids %>
    <div class="block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, class: "mr-2" do |b| %>
        <div class="flex items-center my-2">
          <%= b.check_box %>
          <%= b.label class: "text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>

<div class="my-5">
    <%= form.label :author_ids %>
    <div class="block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full">
      <%= form.collection_check_boxes :author_ids, Author.all, :id, :artistname, class: "mr-2" do |b| %>
        <div class="flex items-center my-2">
          <%= b.check_box %>
          <%= b.label class: "text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="my-5">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Speichern", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
