<%= form_with(model: book, class: "contents") do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= book.errors.count %> Fehler haben das speichern verhindert:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <small>(Optional)</small>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :isbn %>
    <small>(Optional)</small>
    <%= form.text_field :isbn, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <small>(Optional)</small>
    <%= form.text_field :price, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :publisher_id %>
    <%= form.select :publisher_id, options_for_select(Publisher.all.pluck(:name, :id), selected: @book.publisher_id),
      { include_blank: "Select a publisher" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full js-searchable-dropdown" %>
  </div>

  <div class="my-5" data-controller="dropdown">
    <%= form.label :category_ids %>
    <small>(Optional)</small>
    
    <input 
      type="text" 
      placeholder="Suche..." 
      data-dropdown-target="search" 
      class="block w-full px-3 py-2 mb-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-gray-300"
      data-action="input->dropdown#filter">
    
    <div 
      class="block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" 
      data-dropdown-target="checkboxContainer" style="display: none">
      <% Category.all.each do |category| %>
        <div class="flex items-center my-2" style="display: none">
          <%= check_box_tag "book[category_ids][]", category.id, book.category_ids.include?(category.id), class: "mr-2", data: { dropdown_target: "checkbox", action: "input->dropdown#filter" } %>
          <%= label_tag "category_ids_#{book.id}", category.name, class: "text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-5" data-controller="dropdown">
    <%= form.label :author_ids %>
    <small>(Optional)</small>
    
    <input 
      type="text" 
      placeholder="Suche..." 
      data-dropdown-target="search" 
      class="block w-full px-3 py-2 mb-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-gray-300"
      data-action="input->dropdown#filter">
    
    <div 
      class="block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" 
      data-dropdown-target="checkboxContainer" style="display: none">
      <% Author.all.each do |author| %>
        <div class="flex items-center my-2" style="display: none">
          <%= check_box_tag "book[author_ids][]", author.id, book.author_ids.include?(author.id), class: "mr-2", data: { dropdown_target: "checkbox", action: "input->dropdown#filter" } %>
          <%= label_tag "author_ids_#{book.id}", author.display_name, class: "text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :cover %>
    <small>(Optional)</small>
    <%= form.hidden_field :cover, value: book.cover.signed_id if book.cover.attached? %>
    <%= form.file_field :cover, direct_upload: true %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.number_field :amount, value: 1, min: 0, max: 100, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Speichern", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
