<div id="<%= dom_id borrow %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ausleihdatum:</strong>
    <%= borrow.borrow_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rückgabedatum:</strong>
    <%= borrow.return_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tatsächliches Rückgabedatum:</strong>
    <%= borrow.actual_return_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bücher:</strong>
    <ul>
    <% borrow.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
    </ul>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zurückgebracht:</strong>
    <%= borrow.returned ? "Ja" : "Nein" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bibliothekar:</strong>
    <% if borrow.librarian.present? %>
      <%= "#{borrow.librarian.firstname} #{borrow.librarian.lastname}" %>
    <% else %>
      Keinem Bibliothekar zugewiesen
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Vorname:</strong>
    <%= borrow.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nachname:</strong>
    <%= borrow.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefon:</strong>
    <%= borrow.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= borrow.email %>
  </p>

</div>
