<%= form_with(model: borrow, class: "contents") do |form| %>
  <% if borrow.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
        <% borrow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :borrow_date %>
    <%= form.date_field :borrow_date, value: Date.today, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :return_date %>
    <%= form.date_field :return_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :librarian_id %>
  <%= form.select :librarian_id, 
                options_for_select(Librarian.all.map { |l| ["#{l.firstname} #{l.lastname}", l.id] }), 
                { include_blank: "Select a librarian." }, 
                class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full js-searchable-dropdown", 
                data: { controller: "select2" } %>
</div>

  <div class="my-5">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :book_ids %>
    <div class="block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full">
      <%= form.collection_check_boxes :book_ids, Book.all, :id, :title, class: "mr-2" do |b| %>
        <div class="flex items-center my-2">
          <%= b.check_box %>
          <%= b.label class: "text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>  

  <div class="inline">
    <%= form.submit "Speichern", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
