<%= form_with(model: borrow, class: "contents") do |form| %>
  <% if borrow.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= borrow.errors.count %> Fehler haben das speichern verhindert:</h2>

      <ul>
        <% borrow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :borrow_date %>
    <%= form.date_field :borrow_date, value: Date.today, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :return_date %>
    <%= form.date_field :return_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5" data-controller="borrow-books-dropdown">
    <%= form.label :book_ids %>
    
    <input 
      type="text" 
      placeholder="Suche..." 
      data-borrow-books-dropdown-target="search" 
      class="block w-full px-3 py-2 mb-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-gray-300"
      data-action="input->borrow-books-dropdown#filter">
    
    <div 
      class="block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" 
      data-borrow-books-dropdown-target="checkboxContainer" style="display: none">
      <% Book.all.each do |book| %>
        <div class="flex items-center my-2" style="display: none">
          <%= check_box_tag "borrow[book_ids][]", book.id, false, class: "mr-2", data: { borrow_books_dropdown_target: "checkbox", action: "input->borrow-books-dropdown#filter" } %>
          <%= label_tag "book_ids_#{book.id}", book.title, class: "text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>



  <div class="inline">
    <%= form.submit "Speichern", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
