<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Ausleihe Abschließen</h1>

  <%= form_with(model: @borrow, url: update_finish_path, class: "contents") do |form| %>
    <% if @borrow.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= @borrow.errors.count %> Fehler haben das speichern verhindert:</h2>

        <ul>
            <% @borrow.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="my-5">
        <%= form.label :actual_return_date %>
        <%= form.date_field :actual_return_date, value: Date.today, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

      <div class="my-5">
        <%= form.label :rating %>
        <%= form.number_field :rating, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
        <%= form.hidden_field :returned, value: true %>
        <%= form.submit "Abschließen", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
    <% end %>

  <%= link_to "Zurück zu Ausleihen", borrows_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
