<div class="w-full">
 

  <% content_for :title, "Librarians" %>

  <div class="flex justify-between items-center mb-3">
    <h1 class="font-bold text-4xl">Bibliothekare</h1>
    <%= link_to "Neuer Bibliothekar", new_librarian_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="min-w-full divide-y divide-gray-200 table-fixed">
    <thead class="bg-gray-100">
      <tr>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase">
          Name
        </th>
        <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase">
          Email
        </th>
        <th class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase">
          Aktionen
        </th>
      <tr>
    </thead>
    <tbody class="bg-gray divide-y divide-gray-200">
      <% @librarians.each do |librarian| %>
        <tr class="hover:bg-gray-100">
          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap"><%= "#{librarian.firstname} #{librarian.lastname}" %></td>
          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap"><%= librarian.email %></td>
          <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap flex">
            <%= link_to "Ansehen", librarian, class: "py-4 px-2 text-sm font-medium text-green-500 whitespace-nowrap" %>
            <%= link_to "Bearbeiten", edit_librarian_path(librarian), class: "py-4 px-2 text-sm font-medium text-blue-500 whitespace-nowrap" %>
            <% unless Current.librarian.id == librarian.id %>
              <%= button_to "Löschen", librarian_path(librarian), method: :delete, class: "py-4 px-2 text-sm font-medium text-red-500 whitespace-nowrap" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @librarians %>
</div>
